<form class="col form-group" [formGroup]="searchForm"  (ngSubmit)="onSubmit()">
    <div class="row">
        <input class="col mr-4 form-control" formControlName="query" value="{{searchContext.query}}">
        <input class="col-1 btn btn-secondary" type="submit" value="Search">
    </div>
</form>
