<div *ngIf="!isLoading && refine && refine.length">
  <ol *ngIf="refine.length" class="breadcrumb">
    <ng-template ngFor let-refinement [ngForOf]="refine" let-i="index">
      <li class="breadcrumb-item">
        <a title="click to remove facet filter" class="remove" (click)="removeRefinement(i)">
          {{refinement.label}}:{{refinement.displayValue}}
        </a>
      </li>
    </ng-template>
    <li class="breadcrumb-item active">{{query}}</li>
  </ol>
</div>

