<div *ngIf="!isLoading && result.docs && result.docs.length">
  <div *ngIf="false"  class="list-group results">
    <button type="button" *ngFor="let doc of result.docs"
            class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <p *ngIf="highlights[doc['id']][resultMapping.text][0];else other_content" class="preview">
        <strong>{{doc[resultMapping.title]}}</strong>
        - <span [innerHTML]="highlights[doc['id']][resultMapping.text][0]"></span>
      </p>
      <ng-template #other_content>
        <p class="preview">
          <strong>{{doc[resultMapping.title]}}</strong><span *ngIf="doc[resultMapping.teaser]"> - {{doc[resultMapping.teaser][0]}}</span>
        </p>
      </ng-template>
    </button>
  </div>
  <div *ngIf="false" class="list-group results">
    <div class="sg-row sg-header">
      <div class="sg-cell" [style.flex-grow]="column.width" [style.text_align]="column.text_align" *ngFor="let column of columnMapping">
        {{column.label}}
      </div>
    </div>
    <div class="sg-row" *ngFor="let doc of result.docs">
      <div class="sg-cell" [style.flex-grow]="column.width" [style.text_align]="column.text_align" *ngFor="let column of columnMapping">
        {{doc[column.field]}}
      </div>
    </div>
  </div>
  <div *ngIf="false" class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th scope="col" [style.text_align]="column.text_align" *ngFor="let column of columnMapping">
          {{column.label}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of result.docs">
        <td [style.text_align]="column.text_align" *ngFor="let column of columnMapping">
          {{doc[column.field]}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ul *ngIf="resultLayout" class="list-group results">
    <li class="list-group-item" *ngFor="let doc of result.docs; let i = index;">
      <div class="d-flex w-100 justify-content-between">
        <app-result-card class="flex-fill" [doc]="doc" [highlight]="highlights[doc.id]" [layout]="resultLayout" [config]="config"></app-result-card>
      </div>
    </li>
  </ul>
  <div class="row my-2">
    <app-actions class="col"></app-actions>
    <app-pagination class="col from-right" [style.flex-grow]="0"></app-pagination>
  </div>
</div>
<img *ngIf="isLoading" src="assets/images/loading.gif" id="loading-indicator"/>
