.preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

:host ::ng-deep .highlight {
  color: #f90;
}

.results-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.results {
  flex: 1 1 0;
  overflow-x: hidden;
}

app-article {
  margin-right: 8px;
  flex: 1 1 1050px;
  max-width: 1050px;
  overflow-x: hidden;
}

.sg-row {
  display: flex;
  width: 100%;
}

.sg-row .sg-cell {
  width: 0%;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}