<div ngbDropdown class="d-inline-block">
    <button class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>Reset</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)=resetAll()>Reset Everything</button>
      <button ngbDropdownItem (click)=resetFacets()>Reset Facets</button>      
    </div>
  </div>