<div *ngIf="result.numFound > 10" class="btn-group" role="group">
  <ngb-pagination  [collectionSize]="result.numFound" [pageSize]="searchContext.rows" (pageChange)="changePage($event)" [page]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" aria-label="Default pagination"></ngb-pagination>
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{searchContext.rows}} per page</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button class="dropdown-item" (click)="changePageSize(pageSize)" *ngFor="let pageSize of pageSizes">{{pageSize}} per page</button>
    </div>
  </div>
</div>
