<div class="row">
  <app-box class="col"></app-box>
  <app-reset class="col col-lg-1"></app-reset>
</div>
<div class="row">
  <app-info class="col from-right"></app-info>
</div>
<div class="row">
  <app-breadcrumb class="col"></app-breadcrumb>  
</div>
<div class="row mt-3">
  <app-facet-nav class="col-4"></app-facet-nav>
  <app-results class="col-8"></app-results>
</div>  