<div *ngIf="linkUrl">
  <dt class="col col-md-auto text-nowrap" *ngIf="item && item.label">{{item.label}}:</dt>
  <dd class="col text-nowrap text-truncate">
    <a href="{{linkUrl}}" target="{{linkTarget}}">{{linkLabel}}</a>
  </dd>
</div>
