<div class="row">
  <div class="solr-error col-auto" *ngIf="error && !isLoading">
    <span class="text-danger">{{error.msg}}</span>
  </div>
  <div class="solr-stats col" *ngIf="qTime && !isLoading">
    <span class="solr-stat" *ngIf="(start+rows)<numFound;else other_content">
      Showing results {{start + 1}} - {{start + rows}} of {{numFound}} found in {{qTime}} milliseconds.
    </span>
      <ng-template #other_content>
        <span class="solr-stat">Showing results {{start + 1}} - {{numFound}} of {{numFound}}
          found in {{qTime | number: '1.0-0'}} milliseconds</span>
      </ng-template>
  </div>
</div>

