<div *ngIf="isActive && !isLoading">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="i" *ngFor="let facetGroup of facetLayout; let i=index;">
      <a ngbNavLink>{{facetGroup.title}}</a>
      <ng-template ngbNavContent>
        <div>
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel id="facet-{{i}}" [title]="facetKey" *ngFor="let facetKey of facetGroup.facets; let i=index;">
              <ng-template ngbPanelContent>
                <app-facet [facetKey]="facetKey"></app-facet>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>

      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

